table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #f0f0f0;
}
#statusBox {
    background-color: #d4edda;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}